@reference "tailwindcss";

.cards-container {
    @apply grid grid-cols-1 gap-4;
}

@media (min-width: 768px) {
    .cards-container {
        @apply grid-cols-2;
    }
}

@media (min-width: 1024px) {
    .cards-container {
        @apply grid-cols-3;
    }
}

.card_body_label {
    @apply flex items-center text-[var(--primary-1100)] text-[13px] font-normal !pl-5 !pr-5;
}
.card_body_label label,
.card_body_label .card-label {
    @apply w-[50%] text-[var(--primary-900)] pr-3;
}
.card_body_label p {
    @apply w-[50%] text-[13px] text-[var(--primary-1100)] !font-medium;
}
.card_label_outer label {
    @apply min-w-[40%] text-[13px] font-normal text-[var(--primary-900)];
}
.card_outer {
    @apply mb-4 rounded ;
    box-shadow: var(--box-shadow-1);
}
.card_outer .card_button {
    @apply flex pt-4 pl-4 pr-4 border-t mt-3;
    border-color: var(--primary-400);
    
}
.card_outer .card_button button {
    @apply h-[30px] w-[max-content] ml-auto;
}
.card_outer .card_content {
    @apply flex flex-col p-0 !pb-4 gap-1.5;
}
.card_outer .card_content .card_button button {
    @apply h-[30px];
}
.card_header {
    @apply flex items-center p-2 !mb-2 border-b;
    border-color: var(--primary-400);
}
.card_header h6 {
    @apply text-base font-semibold;
}
.card_header label {
    @apply !m-0;
}
.card_footer {
    @apply flex items-center justify-between border-t min-h-[58px] px-4 border-[var(--primary-400)] !mt-2.5 !mb-0;
}
.select-all label {
    @apply !m-0;
}
.select-all p {
    @apply border-[var(--primary-400)] text-[var(--primary-600)] text-sm;
}
.select-all h6 {
    @apply text-sm;
}